body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 1.5vw;
    text-align: center;
    background-color: white;
    color: black;
}

#logo {
    margin: 0px;
    padding: 1px;
    font: times;
    width: 5%;
    color: black;
    text-align: center;
    font-size: 2.5vw;
}

ul {
    margin: 0px;
}

body > header {
    background-color: lightpink;
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: black;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content aside {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: lightpink;
    display: flex;
}

img {
    border-radius: 10%
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a{
    color: black;
    text-decoration: none;
}